In [0]:


 select * from (
    select '1.widetable_4g_site_gold_WL' tb,date_format(D_DTM,"yyyy-MM-dd") D_DTM,count(*) ctx from hive_metastore.default.widetable_4g_site_gold WHERE  D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(D_DTM,"yyyy-MM-dd")
union all
    select '1.widetable_4g_site_gold_SEA' tb,date_format(D_DTM,"yyyy-MM-dd") D_DTM,count(*) ctx from apachedataingestion.lte.widetable_4g_site_gold2 WHERE  D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(D_DTM,"yyyy-MM-dd")

union all
    select '3.widetable_5g_cell_hr_gold_WL' tb,date_format(CalendarDate,"yyyy-MM-dd")  D_DTM,count(*) ctx from hive_metastore.default.widetable_5g_cell_hr_gold WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")
union all
    select '3.widetable_5g_cell_hr_gold_SEA' tb,date_format(CalendarDate,"yyyy-MM-dd")  D_DTM,count(*) ctx from apachedataingestion.nr.widetable_5g_cell_hr_gold2 WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")
union all
select '3.widetable_5g_SA_hr_gold2' tb,date_format(CalendarDate,"yyyy-MM-dd")  D_DTM,count(*) ctx from apachedataingestion.nr.widetable_5g_SA_hr_gold2 WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")
union all
select '3.widetable_5g_SPID_RFSP_hr_gold2' tb,date_format(CalendarDate,"yyyy-MM-dd")  D_DTM,count(*) ctx from apachedataingestion.nr.widetable_5g_SPID_RFSP_hr_gold2 WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")
union all
    select '0.jwk_mapping_live' tb,date_format(now(),"yyyy-MM-dd") D_DTM,count(*) ctx from hive_metastore.`default`.jwk_mapping_live 
union all
    select '4.widetable_5g_du_hr_gold_WL' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from hive_metastore.default.widetable_5g_du_hr_gold WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd")  group by date_format(CalendarDate,"yyyy-MM-dd")
union all
    select '4.widetable_5g_du_hr_gold_SEA' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from  apachedataingestion.nr.widetable_5g_du_hr_gold2 WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd")  group by date_format(CalendarDate,"yyyy-MM-dd")    
union all
    select '5.widetable_5g_gNB_hr_gold_WL' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from hive_metastore.default.widetable_5g_gNB_hr_gold  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")
union all
    select '5.widetable_5g_gNB_hr_gold_SEA' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.nr.widetable_5g_gNB_hr_gold2 WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")    
union all
    select '2.widetable_4g_qci_gold_WL' tb,date_format(D_DTM,"yyyy-MM-dd") D_DTM,count(*) ctx from hive_metastore.default.widetable_4g_qci_gold WHERE  D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(D_DTM,"yyyy-MM-dd")
union all
    select '2.widetable_4g_qci_gold_SEA' tb,date_format(D_DTM,"yyyy-MM-dd") D_DTM,count(*) ctx from apachedataingestion.lte.widetable_4g_qci_gold2 WHERE  D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(D_DTM,"yyyy-MM-dd")
union all
    select '6.widetable_5g_gNB_hr_qci_gold' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from  apachedataingestion.nr.widetable_5g_gNB_hr_qci_gold2  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd")  group by date_format(CalendarDate,"yyyy-MM-dd")   
union all
    select '7.widetable_5g_cell_hr_qci_gold' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from  apachedataingestion.nr.widetable_5g_cell_hr_qci_gold2  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd")  group by date_format(CalendarDate,"yyyy-MM-dd")   
union all
    select '8.widetable_5g_VoNR_hr_gold2' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from  apachedataingestion.nr.widetable_5g_VoNR_hr_gold2  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd")  group by date_format(CalendarDate,"yyyy-MM-dd")   
union all
    select '932.snap_enb_iris_kpis_hourly_snap_hr_gold' tb,date_format(Daily,"yyyy-MM-dd") D_DTM ,count(*) ctx from `snap`.`enb_iris`.`snap_enb_iris_kpis_hourly_snap_hr_gold` WHERE  Daily >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Daily,"yyyy-MM-dd")
union all
    select '90.snap_enb_iris_kpis_hourly_snap_hr_silver' tb,date_format(Daily,"yyyy-MM-dd") D_DTM ,count(*) ctx from `snap`.`enb_iris`.`snap_enb_iris_kpis_hourly_snap_hr_silver` WHERE  Daily >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Daily,"yyyy-MM-dd")    
union all
    select '931.jwk_snap_enb_iris_kpis_hourly_snap_hr_silver' tb,date_format(Daily,"yyyy-MM-dd") D_DTM ,count(*) ctx from hive_metastore.default.jwk_snap_enb_iris_kpis_hourly_snap_hr_silver2 WHERE  Daily >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Daily,"yyyy-MM-dd")        
union all
    select '94.snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold' tb,date_format(Date,"yyyy-MM-dd") D_DTM ,count(*) ctx from snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold WHERE  Date >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Date,"yyyy-MM-dd")
--union all
    --select '95.snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold2' tb,date_format(Date,"yyyy-MM-dd") D_DTM ,count(*) ctx from snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold2 WHERE  Date >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Date,"yyyy-MM-dd")    
union all
    select '93.snap.enb_iris.4g_busy_hour_kpi_gold ' tb,date_format(Daily,"yyyy-MM-dd") D_DTM ,count(*) ctx from snap.enb_iris.4g_busy_hour_kpi_gold  WHERE  Daily >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(Daily,"yyyy-MM-dd")


union all
    select '951.megatable_5g_gNB_hr_gold2 ' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.nr.megatable_5g_gNB_hr_gold2   WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")

union all
    select '953.megatable_5g_cell_hr_gold2 ' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.nr.megatable_5g_cell_hr_gold2   WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")

union all
    select '952.megatable_5g_du_hr_gold2 ' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.nr.megatable_5g_du_hr_gold2   WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")

union all
    select '954.megatable_4g_site_gold ' tb,date_format(D_DTM,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.lte.megatable_4g_site_gold  WHERE  D_DTM >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(D_DTM,"yyyy-MM-dd")


union all
    select '923.widetable_4g_eNB ' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.lte.widetable_4g_eNB  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")

union all
    select '923.widetable_5g_Du ' tb,date_format(CalendarDate,"yyyy-MM-dd") D_DTM ,count(*) ctx from apachedataingestion.nr.widetable_5g_Du  WHERE  CalendarDate >= date_format(date_add(now(), -10),"yyyy-MM-dd") group by date_format(CalendarDate,"yyyy-MM-dd")

union all
select '990.v_cm_changes_4g_wide ' tb,date_format(concat(left(day_id,4),'-',substring(day_id,5,2),'-',right(day_id,2)),'yyyy-MM-dd') D_DTM ,count(*) ctx from invt.cm_gold.v_cm_changes_4g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(concat(left(day_id,4),'-',substring(day_id,5,2),'-',right(day_id,2)),'yyyy-MM-dd')
union all
select '991.v_cm_changes_5g_wide ' tb,date_format(concat(left(day_id,4),'-',substring(day_id,5,2),'-',right(day_id,2)),'yyyy-MM-dd') D_DTM ,count(*) ctx from invt.cm_gold.v_cm_changes_5g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(concat(left(day_id,4),'-',substring(day_id,5,2),'-',right(day_id,2)),'yyyy-MM-dd')
union all
select '992.v_cm_invt_fw_4g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_fw_4g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '993.v_cm_invt_fw_5g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_fw_5g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '994.v_cm_invt_hw_4g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_hw_4g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '995.v_cm_invt_hw_5g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_hw_5g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '996.v_cm_invt_oru_5g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_oru_5g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '997.v_cm_invt_sw_4g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_sw_4g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '998.v_cm_invt_sw_5g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(*) ctx from invt.cm_gold.v_cm_invt_sw_5g_wide WHERE  day_id >= date_format(date_add(now(), -10),"yyyyMMdd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '999.v_cm_invt_sw_4g_wide ' tb,date_format(tar_file_modification_ts,"yyyy-MM-dd") D_DTM ,count(tar_file_modification_ts) ctx from invt.cm_silver.v_cm_gpl_type_4g_wide WHERE  tar_file_modification_ts >= date_format(date_add(now(), -5),"yyyy-MM-dd") group by date_format(tar_file_modification_ts,"yyyy-MM-dd")
union all
select '999.v_cm_gpl_type_5g_wide ' tb,date_format(file_modification_ts,"yyyy-MM-dd") D_DTM ,count(file_modification_ts) ctx from invt.cm_silver.v_cm_gpl_type_5g_wide WHERE  file_modification_ts >= date_format(date_add(now(), -5),"yyyy-MM-dd") group by date_format(file_modification_ts,"yyyy-MM-dd")






) x
where x.D_DTM is not null;

Databricks visualization. Run in Databricks to view.