In [0]:

select * from invt.cm_silver.cm_gpl_type_4g where file_modification_ts = (select max(file_modification_ts) from invt.cm_silver.cm_gpl_type_4g where file_modification_ts >=  date_format(date_add(now(), -10),"yyyy-MM-dd") )
select * from invt.cm_gold.cm_changes_4g limit 2;

select * from invt.cm_gold.cm_invt_fw_4g limit 2;
select * from invt.cm_gold.cm_invt_hw_4g limit 2;
select * from invt.cm_gold.cm_invt_sw_4g limit 2;

select ne,count(*) 
-- select *
from invt.cm_gold.cm_invt_fw_4g where day_id='20250202'  group by ne  having count(*) > 1

select * from invt.cm_gold.cm_invt_fw_4g where day_id='20250202'  and ne='eNB_61713'
select * from invt.cm_gold.cm_invt_hw_4g where day_id='20250202'  and ne='eNB_61713'
select * from invt.cm_gold.cm_invt_sw_4g where day_id='20250202'  and ne='eNB_61713'

select *
--select count(*)
from invt.cm_silver.cm_gpl_type_4g where parameter_name = 'frequency-band-indicator' and day_id='20250205' and ne='eNB_61713'

select * 
--select count(*)
from invt.cm_silver.cm_gpl_type_5g where parameter_name = 'nr-frequency-band' and day_id='20250205' and ne='DU_13302280093'



select *
--select count(*)
from invt.cm_gold.cm_changes_4g where parameter_name = 'frequency-band-indicator' and day_id='20250205' and ne='eNB_61713'

select * 
--select count(*)
from invt.cm_gold.cm_changes_5g where parameter_name = 'nr-frequency-band' and day_id='20250205' and ne='DU_13302280093'


select * from invt.cm_silver.cm_gpl_type_5g limit 2;
select * from invt.cm_gold.cm_changes_5g limit 2;

select * from invt.cm_gold.cm_invt_fw_5g limit 2;
select * from invt.cm_gold.cm_invt_hw_5g limit 2;
select * from invt.cm_gold.cm_invt_oru_5g limit 2;
select * from invt.cm_gold.cm_invt_sw_5g limit 2;

select * from invt.cm_gold.cm_invt_fw_5g where day_id='20250202'  and ne='DU_13302280093'
select * from invt.cm_gold.cm_invt_hw_5g where day_id='20250202'  and ne='DU_13302280093'
select * from invt.cm_gold.cm_invt_sw_5g where day_id='20250202'  and ne='DU_13302280093'
select * from invt.cm_gold.cm_invt_oru_5g where day_id='20250202'  and ne='ADPF_5790513068'

/*
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DA-C00	Gen1
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DA-C01	Gen1
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DASC00	Gen1
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DC-A10	 
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DC-A14	 
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DD-C01	Gen2
mmWave	cm_inv_hw_5g	Hw Name (Unit Type=FMP)	G7DD-C02	Gen2


select hw_name from invt.cm_gold.cm_invt_hw_5g where unit_type='FMP' and tar_file_modification_ts >=  date_format(date_add(now(), -10),"yyyy-MM-dd")   group by hw_name ;
*/

/*
only ADPF data
C-Band	cm_inv_oru_5g	Product Code	MT1602d-48A	MMU Gen1
C-Band	cm_inv_oru_5g	Product Code	MT1602d-48B	MMU Gen1
C-Band	cm_inv_oru_5g	Product Code	MT6407-77A	MMU Gen1
C-Band	cm_inv_oru_5g	Product Code	MT6413-77A	MMU Gen2
C-Band	cm_inv_oru_5g	Product Code	ORD-TDD	RRU
C-Band	cm_inv_oru_5g	Product Code	RIU11-77A	RRU
C-Band	cm_inv_oru_5g	Product Code	RT4424-77A	RRU
C-Band	cm_inv_oru_5g	Product Code	RT4424-77B	RRU
C-Band	cm_inv_oru_5g	Product Code	RT4429-77A	RRU
C-Band	cm_inv_oru_5g	Product Code	RT8808-77A	RRU


select product_code 
from invt.cm_gold.cm_invt_oru_5g where 
product_code in ('MT1602d-48A','MT1602d-48B','MT6407-77A','MT6413-77A','ORD-TDD','RIU11-77A','RT4424-77A','RT4424-77B','RT4429-77A','RT8808-77A') and tar_file_modification_ts >=  date_format(date_add(now(), -10),"yyyy-MM-dd") 
group by product_code;

*/

select len(ne_id),count(*) 
-- select *
from invt.cm_gold.cm_invt_sw_4g where day_id='20250202'  group by len(ne_id)




--####  1
insert into invt.cm_gold.cm_invt_fw_4g_wide
with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select REGION,A.* from (
    select 
    case when LEN(ne_id)=5 then left(ne_id,2) else left(ne_id,3)  end SUB_MARKET_ID,
    -- select 
    * from invt.cm_gold.cm_invt_fw_4g  
    where day_id =  date_format(date_add(now(), -1),"yyyyMMdd")
) A
 inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID

 --####  2
with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select REGION,A.* from (
    select 
    case when LEN(ne_id)=5 then left(ne_id,2) else left(ne_id,3)  end SUB_MARKET_ID,
    -- select 
    * from invt.cm_gold.cm_invt_hw_4g  
    where day_id =  date_format(date_add(now(), -1),"yyyyMMdd")
) A
 inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID


 --####  3
with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select REGION,A.* from (
    select 
    case when LEN(ne_id)=5 then left(ne_id,2) else left(ne_id,3)  end SUB_MARKET_ID,
    -- select 
    * from invt.cm_gold.cm_invt_sw_4g  
    where day_id =  date_format(date_add(now(), -1),"yyyyMMdd")
) A
 inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID



--##############################5G ##########################
--##############################5G ##########################
--##############################5G ##########################
--##############################5G ##########################


select len(ne_id),count(*) 
-- select *
from invt.cm_gold.cm_invt_fw_5g where day_id='20250202'  group by len(ne_id)
/*
1	12
2	12
5	3378
6	8322
8	23733
9	38940
10	115313
11	150648
*/

select * from invt.cm_gold.cm_invt_fw_5g where day_id='20250202'  and len(ne_id)=9


--####  1

delete from invt.cm_gold.cm_invt_fw_5g_wide where day_id =  date_format(date_add(now(), -1),"yyyyMMdd");

insert into invt.cm_gold.cm_invt_fw_5g_wide
with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select REGION,A.* from (
    select 
    case 
        when split(ne,'_')[0] = 'ACPF' and len(ne_id) =8 then left(ne_id,2)
        when split(ne,'_')[0] = 'ACPF' and len(ne_id) =9 then left(ne_id,3)
        when split(ne,'_')[0] = 'ADPF' and len(ne_id) =8 then left(ne_id,2)
        when split(ne,'_')[0] = 'ADPF' and len(ne_id) =9 then left(ne_id,3)    
        when split(ne,'_')[0] = 'ADPF' and len(ne_id) =10 then left(ne_id,2)
        when split(ne,'_')[0] = 'ADPF' and len(ne_id) =11 then left(ne_id,3)   
        when split(ne,'_')[0] = 'AUPF' and len(ne_id) =8 then left(ne_id,2)
        when split(ne,'_')[0] = 'AUPF' and len(ne_id) =9 then left(ne_id,3)  
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =5 then left(ne_id,2)
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =6 then left(ne_id,3)    
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =8 then left(ne_id,2)
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =9 then left(ne_id,3)   
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =10 then left(ne_id,2)
        when split(ne,'_')[0] = 'FSU' and len(ne_id) =11 then left(ne_id,3)  
        when split(ne,'_')[0] = 'UAUPF' and len(ne_id) =10 then left(ne_id,2)
        when split(ne,'_')[0] = 'UAUPF' and len(ne_id) =11 then left(ne_id,3)  
        when split(ne,'_')[0] = 'DU' then int(left(REGEXP_REPLACE(NE_NAME, '[^0-9]', ''),3))
      end SUB_MARKET_ID,*
    -- select     * 
    from invt.cm_gold.cm_invt_fw_5g  
    where day_id =  date_format(date_add(now(), -1),"yyyyMMdd")
) A
full join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID
 --inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID

569001210

select * from invt.cm_gold.cm_invt_fw_5g limit 2;
select * from invt.cm_gold.cm_invt_hw_5g limit 2;
select * from invt.cm_gold.cm_invt_oru_5g limit 2;
select * from invt.cm_gold.cm_invt_sw_5g limit 2;



 select * from invt.cm_gold.cm_invt_fw_4g_wide where SUB_MARKET_ID='569'
 select * from invt.cm_gold.cm_invt_fw_5g_wide where SUB_MARKET_ID='569'

 select SUB_MARKET_ID,count(*) from invt.cm_gold.cm_invt_fw_5g_wide group by SUB_MARKET_ID

--- ===========================   Building the query ============------------
--- ===========================   Building the query ============------------
--- ===========================   Building the query ============------------
--- ===========================   Building the query ============------------
--- ===========================   Building the query ============------------



DECLARE queryStr STRING;

 SET VAR queryStr = '
        with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
        select REGION,A.* from (
            select 
            case when LEN(ne_id)=5 then left(ne_id,2) else left(ne_id,3)  end SUB_MARKET_ID,            
            * from invt.cm_gold.'|| {{ tableName }} ||'  
            where day_id =  date_format(date_add(now(), -1),"yyyyMMdd")
        ) A
        inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID 
 ';

 EXECUTE IMMEDIATE queryStr;