In [0]:
select * from apachedataingestion.nr.erabadditionpergnbwithduidentifier_bronze
	

-- alter table apachedataingestion.nr.widetable_5g_cell_dy_gold2 rename to apachedataingestion.nr.widetable_5g_cell_dy_gold2_bkp

 select split(source_full_path,'/')[0]     from apachedataingestion.lte.airmacpacket_lte_hr_silver where ne_id like'%eNB_106%'   and  Daily  =  date_format(date_add(now(), -1),"yyyy-MM-dd")  
 group by split(source_full_path,'/')[0]  

 select *     from apachedataingestion.nr.DownlinkMIMOperRFSP_nr_hr_silver where ne_name like'%13101300035%'   and  Daily  =  date_format(date_add(now(), -1),"yyyy-MM-dd")  

select daily,hourly,minute,count(distinct ne_id) from  
-- select * from
apachedataingestion.nr.pdcppacketpercellidentityperplmnperqci_nr_bronze 
where Daily  =  date_format(date_add(now(), -6),"yyyy-MM-dd")  
group by minute,hourly,daily order by 1,2,3

select * from apachedataingestion.nr.widetable_5g_cell_test 


select minute,hourly,daily,ne_id,location,count(*) from
apachedataingestion.nr.pdcppacketpercellidentityperplmnperqci_nr_bronze 
where Daily  =  date_format(date_add(now(), -6),"yyyy-MM-dd")  
group by minute,hourly,daily,ne_id,location having count(*) > 1


select now()



explain
with conf_du (          
			    select 
					substring(DU_ID,1,10) GNODEB_ID,DU_ID,GCELL_ID,MARKET_NAME,SUB_MARKET_ID, 	SUB_MARKET_NAME, cast (replace(substring(DU_ID,1,10),'VZ_','') as bigint) kGNODEB_ID ,cast (replace(DU_ID,'VZ_','') as bigint) kDU_ID
			    -- select count(distinct concat(GNODEB_ID,'_',DU_ID,'_',GCELL_ID)) --514527
                from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver  
					where not(length(GNODEB_ID) < 10 	or length(du_id) < 14) 
				union all
				select a.* 
				from (
						select concat('VZ_',gNB_ID) GNODEB_ID,concat('VZ_',DU_ID) DU_ID,CellIdentity GCELL_ID,'' MARKET_NAME,'' SUB_MARKET_ID,'' SUB_MARKET_NAME,cast (gNB_ID as bigint) kGNODEB_ID ,cast (DU_ID as bigint) kDU_ID
							-- select count(*)
							from hive_metastore.`default`.jwk_mapping_live 
					) a
				full join 
					hive_metastore.`default`.vz_conf_gnode_du_gcell_silver b on a.kDU_ID=cast (replace(b.DU_ID,'VZ_','') as bigint) and a.GCELL_ID=b.GCELL_ID
					where b.DU_ID is null 
			)
SELECT 
					Daily CalendarDate,Hourly Hour24,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME,
					SUM(a.ErabAddAtt_count_SUM) ErabAddAtt, 
					SUM(a.ErabAddSucc_count_SUM) ErabAddSucc 	
					-- select *
			from (SELECT 
                    Location, Daily, Hourly, 
                    cast(replace(split(LOCATION,'/')[0],'gNB_ID','') as bigint) as gNB_ID,
                    replace(split(LOCATION,'/')[2],'CellIdentity','') as cell_id,
                    ErabAddAtt_count_SUM, 
                    ErabAddSucc_count_SUM
                  FROM  apachedataingestion.nr.erabadditionpergnbwithduidentifier_hr_silver
									WHERE 5=5 and  Daily  =  date_format(date_add(now(), {{ days }}),"yyyy-MM-dd")
                  and replace(split(LOCATION,'/')[3],'QCI','')=132
                 )a
			inner join conf_du b on a.gNB_ID=b.kGNODEB_ID and a.cell_id=b.gcell_id                      			
			--and replace(split(a.LOCATION,'/')[3],'QCI','')=132
			GROUP BY Daily,Hourly,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME





ALTER TABLE apachedataingestion.lte.widetable_4g_qci_gold2 ADD COLUMN 	            Hour24	 int first;
ALTER TABLE apachedataingestion.lte.widetable_4g_qci_gold2 ADD COLUMN 	            CalendarDate	 DATE first;

select *  from apachedataingestion.lte.widetable_4g_qci_gold2
  where D_DTM >= date_format(date_add(now(), {{ days }}),"yyyy-MM-dd") and D_DTM < date_format(date_add(now(), ({{ days }})+1),"yyyy-MM-dd")  

show create table hive_metastore.default.widetable_5g_cell_hr_tmp3;

select *
FROM read_files(
  's3://apacheupsertdata/cm_data_config/cm_5g_cell_records_:date.csv',
  format => 'csv',
  header => true,
  mode => 'FAILFAST')

select * from csv.`/Volumes/ml/foa/input/5G_Sleeping_cells_00_20240715.csv`


select sizeInBytes 
from (DESCRIBE detail apachedataingestion.lte.availability_lte_hr_silver);


select *
                  		from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver  where not(length(GNODEB_ID) < 10 or length(du_id) < 14) 

with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select * from conf_market

 inner join conf_market B on decode(len(SYSTEM_ID),5,left(SYSTEM_ID,2),mod(left(SYSTEM_ID,3),300) )=B.SUB_MARKET_ID

convert_timezone('UTC','America/New_York',  date_trunc('HOUR',INIT_TIME) D_DTM,


select * from apachedataingestion.nr.widetable_5g_cell_hr_gold2 where du_id like '%%'



with conf_du (          
			          	select substring(DU_ID,1,10) GNODEB_ID,DU_ID,GCELL_ID,MARKET_NAME,SUB_MARKET_ID,SUB_MARKET_NAME,cast (replace(substring(DU_ID,1,10),'VZ_','') as bigint) kGNODEB_ID ,cast (replace(DU_ID,'VZ_','') as bigint) kDU_ID
			          	-- select count(distinct concat(GNODEB_ID,'_',DU_ID,'_',GCELL_ID)) --514527
                  		from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver  where not(length(GNODEB_ID) < 10 or length(du_id) < 14) 
				  	union all
						select a.* from (
							select concat('VZ_',gNB_ID) GNODEB_ID,concat('VZ_',DU_ID) DU_ID,CellIdentity GCELL_ID,'' MARKET_NAME,'' SUB_MARKET_ID,'' SUB_MARKET_NAME,cast (gNB_ID as bigint) kGNODEB_ID ,cast (DU_ID as bigint) kDU_ID
							-- select count(*)
							from hive_metastore.`default`.jwk_mapping_live 
						) a
						full join hive_metastore.`default`.vz_conf_gnode_du_gcell_silver b on a.kDU_ID=cast (replace(b.DU_ID,'VZ_','') as bigint) and a.GCELL_ID=b.GCELL_ID
						where b.DU_ID is null 
)
select *
from (
					select CalendarDate,Hour24,du_id,GNODEB_ID,GCELL_ID,MARKET_NAME,SUB_MARKET_NAME,
							SUM(EndcIntraChgAtt) EndcIntraChgAtt, 
							SUM(EndcIntraChgSucc) EndcIntraChgSucc 
					from (
								SELECT  Daily CalendarDate,Hourly Hour24,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME, SUB_MARKET_NAME,
									SUM(EndcIntraChgAtt_count_SUM) EndcIntraChgAtt, 
									SUM(EndcIntraChgSucc_count_SUM) EndcIntraChgSucc 
									-- select *
								from apachedataingestion.nr.intrasnpscellchangepergnb_nr_hr_silver a
								inner join conf_du b on cast(replace(split(a.LOCATION,'/')[0],'gNB_ID','') as bigint)=b.kGNODEB_ID and replace(split(a.LOCATION,'/')[1],'SrcCellIdentity','')=b.gcell_id                      
								WHERE 5=5 and  Daily  =  date_format(date_add(now(), {{ days }}),"yyyy-MM-dd") 
								GROUP BY Daily,Hourly,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME
							union all
								SELECT  Daily CalendarDate,Hourly Hour24,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME, SUB_MARKET_NAME,
									SUM(EndcIntraChgAtt_count_SUM) EndcIntraChgAtt, 
									SUM(EndcIntraChgSucc_count_SUM) EndcIntraChgSucc 
								from apachedataingestion.nr.intrasnpscellchangepergnbwithduidentifier_nr_hr_silver  a
								inner join conf_du b on cast(replace(split(a.LOCATION,'/')[0],'gNB_ID','') as bigint)=b.kGNODEB_ID and replace(split(a.LOCATION,'/')[2],'CellIdentity','')=b.gcell_id
								WHERE 5=5 and  Daily  =  date_format(date_add(now(), {{ days }}),"yyyy-MM-dd") 
								GROUP BY Daily,Hourly,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME
					) x GROUP BY CalendarDate,Hour24,du_id,GNODEB_ID,GCELL_ID,MARKET_NAME,SUB_MARKET_NAME
			) M0 
where du_id like '%7393013029%'


with conf_du (          
			          	select substring(DU_ID,1,10) GNODEB_ID,DU_ID,max(DU_NAME) DU_NAME,max(MARKET_NAME) MARKET_NAME,max(NETWORK_NAME) NETWORK_NAME,max(SUB_MARKET_NAME) SUB_MARKET_NAME,
							cast (replace(substring(DU_ID,1,10),'VZ_','') as bigint) kGNODEB_ID ,cast (replace(DU_ID,'VZ_','') as bigint) kDU_ID			          	
							from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver  where not(length(GNODEB_ID) < 10 or length(du_id) < 14) group by DU_ID
						union all													
						select  distinct concat('VZ_',a.gNB_ID) GNODEB_ID,concat('VZ_',a.DU_ID) DU_ID,						
							'' DU_NAME,'' MARKET_NAME,'' NETWORK_NAME,'' SUB_MARKET_NAME,cast (a.gNB_ID as bigint) kGNODEB_ID ,cast (a.DU_ID as bigint) kDU_ID
							from hive_metastore.`default`.jwk_mapping_live a
							full join (SELECT distinct GNODEB_ID,DU_ID FROM hive_metastore.`default`.vz_conf_gnode_du_gcell_silver) b on concat('VZ_',a.gNB_ID)=b.GNODEB_ID and concat('VZ_',a.DU_ID)=b.DU_ID
							where b.DU_ID is null 
)
SELECT  Daily CalendarDate,GNODEB_ID,MARKET_NAME, SUB_MARKET_NAME,
	                    sum(DuUeNoTot_count_SUM) DuUeNoTot,
						sum(DuUeNoCnt_count_SUM) DuUeNoCnt,
						Max(DuUeNoMax_count_MAX) DuUeNoMax  
                        -- select *
                      from  apachedataingestion.nr.ueconnectionnumberpergnbdu_nr_hr_silver a
                      inner join conf_DU b on cast(left(REGEXP_REPLACE(a.NE_NAME, '[^0-9]', ''),11) as bigint)=b.kDU_ID 
					  WHERE 5=5 and  Daily  >=  date_format(date_add(now(), -20),"yyyy-MM-dd") and du_id like '%7393013002%'
                  GROUP BY Daily,GNODEB_ID,MARKET_NAME, SUB_MARKET_NAME


             select *
              from     apachedataingestion.nr.widetable_5g_du_hr_gold2 where du_id like '%7393013002%' and CalendarDate  >=  date_format(date_add(now(), -20),"yyyy-MM-dd")

7393013029
7393013002

with conf_du (          
			          	select substring(DU_ID,1,10) GNODEB_ID,DU_ID,max(DU_NAME) DU_NAME,max(MARKET_NAME) MARKET_NAME,max(NETWORK_NAME) NETWORK_NAME,max(SUB_MARKET_NAME) SUB_MARKET_NAME,
							cast (replace(substring(DU_ID,1,10),'VZ_','') as bigint) kGNODEB_ID ,cast (replace(DU_ID,'VZ_','') as bigint) kDU_ID			          	
							from 
              (select * from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver union all select * from hive_metastore.`default`.xxx_jwk_vz_conf_gnode_du_gcell_silver_bkp)
              where not(length(GNODEB_ID) < 10 or length(du_id) < 14) group by DU_ID
						union all													
						select  distinct concat('VZ_',a.gNB_ID) GNODEB_ID,concat('VZ_',a.DU_ID) DU_ID,						
							'' DU_NAME,'' MARKET_NAME,'' NETWORK_NAME,'' SUB_MARKET_NAME,cast (a.gNB_ID as bigint) kGNODEB_ID ,cast (a.DU_ID as bigint) kDU_ID
							from hive_metastore.`default`.jwk_mapping_live a
							full join (SELECT distinct GNODEB_ID,DU_ID FROM hive_metastore.`default`.vz_conf_gnode_du_gcell_silver) b on concat('VZ_',a.gNB_ID)=b.GNODEB_ID and concat('VZ_',a.DU_ID)=b.DU_ID
							where b.DU_ID is null 
)
select * from conf_du where DU_ID like '%7393013087%'

select * from 
xxx_jwk_vz_conf_gnode_du_gcell_silver_bkp where DU_ID like '%7393013246%'


SELECT CalendarDate,du_id,
SUM(S5NR_MaxRRCconnectedUsersPerDU) S5NR_MaxRRCconnectedUsersPerDU,
SUM(EndcAddAtt_DU) EndcAddAtt_DU,
SUM(S5NR_AvgRRCconnectedUsersPerDU_Num ) S5NR_AvgRRCconnectedUsersPerDU_Num
FROM (
		select CalendarDate,du_id,
		SUM(S5NR_MaxRRCconnectedUsersPerDU) S5NR_MaxRRCconnectedUsersPerDU,
		SUM(EndcAddAtt_DU) EndcAddAtt_DU,
		SUM(S5NR_AvgRRCconnectedUsersPerDU_Num ) S5NR_AvgRRCconnectedUsersPerDU_Num
		-- select *
		from apachedataingestion.nr.widetable_5g_du_hr_gold2  where CalendarDate >= date_format(date_add(now(), -20),"yyyy-MM-dd")  and du_id like '%7393013087%'
		GROUP BY ALL
		union all
		select 
		CalendarDate,du_id,
		SUM(S5NR_MaxRRCconnectedUsersPerDU) S5NR_MaxRRCconnectedUsersPerDU,
		SUM(EndcAddAtt_DU) EndcAddAtt_DU,
		SUM(S5NR_AvgRRCconnectedUsersPerDU_Num ) S5NR_AvgRRCconnectedUsersPerDU_Num
		from apachedataingestion.nr.widetable_5g_du_hr_gold2  where CalendarDate >= date_format(date_add(now(), -20),"yyyy-MM-dd")  and du_id like '%7393013246%'
		GROUP BY ALL
) X
WHERE S5NR_MaxRRCconnectedUsersPerDU > 0
GROUP BY ALL



SELECT  Daily CalendarDate,Hourly Hour24,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME,
									SUM(UeNoTot_count_SUM) UeNoTot, 
									SUM(UeNoCnt_count_SUM) UeNoCnt,
									Max(UeNoMax_count_MAX) UeNoMax
                                    -- select *
								from apachedataingestion.nr.ueconnectionnumberpergnbwithduidentifier_nr_hr_silver  a
								--inner join conf_du b on cast(replace(split(a.LOCATION,'/')[1],'gNB_ID','') as bigint)=b.kGNODEB_ID and replace(split(a.LOCATION,'/')[3],'CellIdentity','')=b.gcell_id
								inner join conf_du b on cast(replace(split(a.LOCATION,'/')[2],'gNB_DU_ID','') as bigint)=b.kDU_ID and replace(split(a.LOCATION,'/')[3],'CellIdentity','')=b.gcell_id
								WHERE 5=5 and  Daily  =  date_format(date_add(now(), {{ days }}),"yyyy-MM-dd") 
								GROUP BY Daily,Hourly,b.du_id,GNODEB_ID,b.GCELL_ID,MARKET_NAME,SUB_MARKET_NAME


with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select 
case when B.Time_Offset=-5 then  convert_timezone('America/New_York','UTC',D_DTM) 
	 when B.Time_Offset=-6 then  convert_timezone('America/Chicago','UTC',D_DTM) 
	 when B.Time_Offset=-8 then  convert_timezone('America/Los_Angeles''UTC',D_DTM) 
 end D_DTM_UTC,
 case when LEN(A.SUB_MARKET_ID)=2 then concat('0',A.SYSTEM_ID) else A.SYSTEM_ID end ne_id2,
* from hive_metastore.default.widetable_4g_site_gold2_tmp A
inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID


select cast(concat(CalendarDate,' ',lpad(hour24,2,0),':00:00') as TIMESTAMP) ,replace(A.du_ID,'VZ_','') ne_id2 from apachedataingestion.nr.widetable_5g_cell_hr_gold2 A

with conf_market (select cast(SUB_MARKET_ID AS INT) SUB_MARKET_ID,SUB_MARKET_NAME,REGION,Time_Offset from hive_metastore.default.vz_conf_market)
select 
case when B.Time_Offset=-5 then  convert_timezone('America/New_York','UTC',cast(concat(CalendarDate,' ',lpad(hour24,2,0),':00:00') as TIMESTAMP)) 
	 when B.Time_Offset=-6 then  convert_timezone('America/Chicago','UTC',cast(concat(CalendarDate,' ',lpad(hour24,2,0),':00:00') as TIMESTAMP)) 
	 when B.Time_Offset=-8 then  convert_timezone('America/Los_Angeles','UTC',cast(concat(CalendarDate,' ',lpad(hour24,2,0),':00:00') as TIMESTAMP)) 
 end D_DTM_UTC,
  replace(A.du_ID,'VZ_','') ne_id2,
* from apachedataingestion.nr.widetable_5g_cell_hr_gold2 A
inner join conf_market B on A.SUB_MARKET_ID=B.SUB_MARKET_ID


SELECT LEN(du_id),COUNT(*) from apachedataingestion.nr.widetable_5g_cell_hr_gold2 GROUP BY LEN(du_id)


select Date,concat(region,"_",market) region,count(*) ctx 
-- select *
from snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold where  Date  >=  date_format(date_add(now(), -2),"yyyy-MM-dd") and market=186
 group by Date,region,market order by 2
;



select  min(date),max(date) from snap.snap_carrierlevel_sea.snap_carrierlevel_fsm_sea_combined_kpis_hourly_gold



 SELECT timestamp(concat(Daily,' ',Hourly,':00:00')) D_DTM,NE_ID,split(LOCATION,'/')[0] LOCATION,SITE_ID,Timezone,
        sum(ULIpThruVol_Kbytes_SUM)*8/1000 `UL User Throughput_NUM`,
        sum(ULIpThruTime_TTI_SUM)/1000 `UL User Throughput_DENOM`,				            
        sum(AirMacDLByte_Kbytes_SUM)/1000 MAC_DL_Cell_Throughput_NUM,
        sum(AirMacULByte_Kbytes_SUM)/1000 MAC_UL_Cell_Throughput_NUM     
      from apachedataingestion.lte.airmacpacket_lte_hr_silver    
      WHERE Daily =  date_format(date_add(now(), -3),"yyyy-MM-dd")  and hourly='0'   and NE_ID  ='eNB_72426' and LOCATION='cNum1'
      GROUP BY Daily,Hourly,NE_ID,split(LOCATION,'/')[0],SITE_ID,Timezone   


select DL_MAC_Volume_MB,MAC_UL_Cell_Throughput_DENOM from apachedataingestion.lte.widetable_4g_site_gold2 
 WHERE D_dtm =  date_format(date_add(now(), -3),"yyyy-MM-dd")    and NE_ID  ='eNB_72426' and LOCATION='cNum1'


SELECT timestamp(concat(Daily,' ',Hourly,':00:00')) D_DTM,NE_ID,split(LOCATION,'/')[0] LOCATION,SITE_ID,Timezone,
        sum(ULIpThruVol_Kbytes_SUM)*8/1000 `UL User Throughput_NUM`,
        sum(ULIpThruTime_TTI_SUM)/1000 `UL User Throughput_DENOM`,				            
        8*sum(AirMacDLByte_Kbytes_SUM)/1000 MAC_DL_Cell_Throughput_NUM,
        8*sum(AirMacULByte_Kbytes_SUM)/1000 MAC_UL_Cell_Throughput_NUM     
      from apachedataingestion.lte.airmacpacket_lte_hr_silver    
      WHERE Daily =  date_format(date_add(now(), -3),"yyyy-MM-dd")   and Hourly='0' and NE_ID  ='eNB_72426' and LOCATION='cNum1'
      GROUP BY Daily,Hourly,NE_ID,split(LOCATION,'/')[0],SITE_ID,Timezone 


select NE_ID,UL_MAC_Volume_MB,LOCATION from hive_metastore.default.widetable_4g_site_gold2_tmp where NE_ID  ='eNB_72426' --and LOCATION='cNum1'


SELECT Daily D_DTM,NE_ID,split(LOCATION,'/')[0] LOCATION,SITE_ID,Timezone,
        sum(AirMacDLByte_Kbytes_SUM) DL_MAC_Layer_Data_Volume_pCell_NUM,
        sum(AirMacULByte_Kbytes_SUM) AirMacULByte_P
		-- select *
      from apachedataingestion.lte.airmacpacketpcell_lte_hr_silver
      WHERE Daily =  date_format(date_add(now(), -3),"yyyy-MM-dd")  and hourly=0    and NE_ID  ='eNB_72426' and LOCATION='cNum1'
      GROUP BY Daily,NE_ID,split(LOCATION,'/')[0],SITE_ID,Timezone   


 SELECT Daily D_DTM,NE_ID,split(LOCATION,'/')[0] LOCATION,SITE_ID,Timezone,
        sum(AirMacDLByte_Kbytes_SUM) DL_MAC_Layer_Data_Volume_sCell_NUM,        
        sum(AirMacULByte_Kbytes_SUM) AirMacULByte_S
		-- select *
      from apachedataingestion.lte.airmacpacketscell_lte_hr_silver
      WHERE Daily =  date_format(date_add(now(), -3),"yyyy-MM-dd")        and NE_ID  ='eNB_72426' --and LOCATION='cNum1'
      GROUP BY Daily,NE_ID,split(LOCATION,'/')[0],SITE_ID,Timezone


with conf_gNB (         
						select substring(DU_ID,1,10) GNODEB_ID,max(MARKET_NAME) MARKET_NAME,max(NETWORK_NAME) NETWORK_NAME,max(SUB_MARKET_NAME) SUB_MARKET_NAME,
                        	cast (replace(substring(DU_ID,1,10),'VZ_','') as bigint) kGNODEB_ID		          	
                  			from hive_metastore.`default`.vz_conf_gnode_du_gcell_silver  where not(length(GNODEB_ID) < 10) group by substring(DU_ID,1,10)
						union all						
							select distinct concat('VZ_',gNB_ID) GNODEB_ID,'' MARKET_NAME,'' NETWORK_NAME,'' SUB_MARKET_NAME,cast (gNB_ID as bigint) kGNODEB_ID 							
							from hive_metastore.`default`.jwk_mapping_live a
							full join (SELECT distinct GNODEB_ID FROM hive_metastore.`default`.vz_conf_gnode_du_gcell_silver) b on concat('VZ_',a.gNB_ID)=b.GNODEB_ID
							where b.GNODEB_ID is null 
) 
SELECT  Daily CalendarDate,Hourly Hour24,GNODEB_ID,MARKET_NAME, SUB_MARKET_NAME,
							sum(Tx_NGInitialContextSetupFailure)	S5NC_InitialContextSetupFailure_PCT_SA_Num,
							sum(Rx_NGInitialContextSetupRequest)	S5NC_InitialContextSetupFailure_PCT_SA_Denom
                            -- select *
                      from  apachedataingestion.nr.UEassociatedNGAPMessageingNB_nr_hr_silver a
                      inner join conf_gNB b on cast(left(REGEXP_REPLACE(a.NE_NAME, '[^0-9]', ''),7) as bigint)=b.kGNODEB_ID 
					  WHERE 5=5 and  Daily  = '2024-08-19' and  Hourly = '09' and LOCATION = 'gNB_ID719101'
                  GROUP BY Daily,Hourly,GNODEB_ID,MARKET_NAME, SUB_MARKET_NAME


12595053859,1051,77

select * from cm_5g_cell_records where date=CURRENT_DATE()-1 and du_id='12595053859' and gcell_id='1051';

select * from hive_metastore.default.cm_5g_cell_records where date=CURRENT_DATE()-1 and du_id='12595053859' and gcell_id='1051';


SELECT current_date()-1 as Date,gnb, du_raw_id, cellidentity, frequency_band_indicator
FROM read_files(
  's3://apacheupsertdata/cm_data_config/cm_5g_cell_records_20240910.csv',
  format => 'csv',
  header => true,
  mode => 'FAILFAST')
  where frequency_band_indicator is not null and gnb='1259505' and cellidentity='1051';


SELECT COUNT(*) FROM `hive_metastore`.`default`.`vz_conf_gnode_du_gcell_silver_tmp`;



select CalendarDate,cast (hour24 as int) ,count(distinct du_ID)
from apachedataingestion.nr.widetable_5g_cell_hr_gold2
where CalendarDate >= date_format(date_add(now(), {{ days }}),"yyyy-MM-dd") and CalendarDate <= date_format(date_add(now(), ({{ days }})+1),"yyyy-MM-dd") 
group by CalendarDate,cast (hour24 as int)  order by 1,2